.app-bar {
    background-color: #181818 !important;
    flex-direction: row !important;
    justify-content: space-around !important;
}

.logo {
    width: 206px;
    height: 78px;
    margin-left: 10%;
}

.nav-menu {
    margin-top: 1.5rem;
    display: flex;
    width: 393px;
    height: 44px;
    justify-content: space-between;
    margin-left: 10%;
}

.nav-menu a {
    width: 83px;
    height: 44px;
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.2px;

    /* light text */

    color: #FFFFFF;
}

.login-btn {
    width: 139px;
    height: 52px;
    text-transform: none !important;
    color: #FFFFFF !important;

    /* light text */

    border: 1px solid #FFFFFF !important;
    box-sizing: border-box !important;
    /* shadow */

    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
    margin-left: 20% !important;
    margin-top: 1rem !important;
}
.menu-btn{
    display: none !important;
}
@media screen and (max-width: 1000px) {
    .nav-menu {
        display: none;
    }
    .login-btn{
        margin-left: 0px !important
    }
    .menu-btn{
        display: block !important;
        margin-top: 2rem !important;
    }
}
